{% extends 'main_app/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h3>Welcome to Brent's AI Language School Project (BALS)</h3>
<p>This project, developed by <a href="https://profile-page-brentwong.pythonanywhere.com/home" target="_blank">Brent Wong</a>, utilizes AI tools like ChatGPT and Whisper to transform YouTube videos into foreign language learning resources. It automates the process from video download to generating textual learning materials by transcribing audio and creating educational content. This innovative approach aims to enhance language learning accessibility and efficiency.</p>

<h5>Donation</h5>
<p>If you find this useful and would like to support my work, you can make a donation via this <a href="https://www.paypal.com/paypalme/brentwmq?country.x=DE&locale.x=en_US" target="_blank">PayPal link</a>.</p>

<h5>Github</h5>
<p>Find out more about this project on the <a href="https://github.com/brentwong-kiel1997/AI_language_school_based_on_Django_and_OpenAI/tree/master" target="_blank">GitHub page</a>.</p>

<h5>Usage</h5>
<p>You can transcribe a video via this <a href="{% url 'url_input' %}" target="_blank">link</a>, or browse already transcribed videos below:</p>

<h5>Transcribed Videos</h5>
<form id="filterForm" method="GET">
    <label for="language_filter">Filter by Video Language:</label>
    <select name="language_filter" id="language_filter">
        <option value="">All</option>
        <!-- Populate with unique video languages -->
        {% for language in languages %}
        {% if language_filter == language %}
        <option value="{{ language }}" selected>{{ language }}</option>
        {% else %}
        <option value="{{ language }}">{{ language }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

<div style="overflow-x:auto;">
    <table id="videoTable" style="width:100%;">
        <thead>
            <tr>
                <th style="width:12%;" class="sortable">
                    <button id="dateButton">Video Date &#x25B2;</button>
                </th>
                <th style="width:73%;">Title</th>
                <th style="width:5%;">Language</th>
                <th style="width:10%;">Length</th>
            </tr>
        </thead>
        <tbody>
            {% for content in model %}
            <tr>
                <td>{{ content.uploaded_date|date:"Y-m-d" }}</td>
                <td><a href="{% url 'transcript' content.slug %}" target="_blank">{{ content.video_title }}</a></td>
                <td>{{ content.video_language|capfirst }}</td>
                <td>{{ content.video_length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var asc = true;
        $('#dateButton').click(function() {
            var table = $('#videoTable');
            var rows = table.find('tr:gt(0)').toArray().sort(comparer);
            if (!asc) {
                rows = rows.reverse();
            }
            $.each(rows, function(index, row) {
                table.append(row);
            });
            asc = !asc;
            $('#dateButton').html('Video Date ' + (asc ? '&#x25B2;' : '&#x25BC;'));
        });

        function comparer(a, b) {
            var valA = $(a).find('td:first').text();
            var valB = $(b).find('td:first').text();
            return new Date(valA) - new Date(valB);
        }
    });
</script>
{% endblock %}
