{% extends 'main_app/base.html' %}

{% block title %}
Url Input Page
{% endblock %}

{% block content %}



{% if messages %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}


<h1>Url Input Page</h1>
<p>Welcome to the url input!</p>

<h3>Please make sure following requirements are met:</h3>
<ul>
    <li>URL should be a YouTube video link, such as "https://www.youtube.com/watch?v=jCjuzZ4H6dw&t=3s".</li>
    <li>The video should be within 5 minutes and public, with no restrictions such as age.</li>
    <li>Preferable sources are legitimate news agency, such as DW, CNN, Fox News,BBC etc.</li>
    <li>If one URL fails, please try another one.</li>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    <p><b>Note</b>: If it keeps failing, it could be that OpenAI API usage is up and please try again next month.
        My apologises, due to cost I could not provide more resources for free.</p>
</form>


<script>
    // Function to disable submit button and show "Please wait..." flag
function disableSubmitButton() {
    // Disable the submit button
    var submitButton = document.querySelector('button[type="submit"]');
    submitButton.disabled = true;

    // Add "Please wait..." flag
    var pleaseWaitFlag = document.createElement('div');
    pleaseWaitFlag.className = "please-wait-flag";
    pleaseWaitFlag.textContent = "Please wait and do not refresh the page, it will take up to 10 minutes...";
    submitButton.parentNode.insertBefore(pleaseWaitFlag, submitButton.nextSibling);
}

// Add event listener to form submission
document.querySelector('form').addEventListener('submit', function(event) {
    // Call the function to disable submit button and show flag
    disableSubmitButton();
});

</script>


{% endblock %}